<!DOCTYPE html>
<html lang="en">

<partial name="_head" />

<body class="h-full w-full">
    <header
        class="fixed top-0 z-20 min-h-[2.5rem] w-full border-b-2 border-lime-700 bg-neutral-700 grid place-items-center">
        <div class="h-6 w-full px-2 text-left text-lime-500 font-semibold
                hover:text-lime-300 sm:px-4 sm:w-[32rem] md:w-[48rem]">
            @* TODO: Add dragonfly icon here *@
            <a asp-action="Index" asp-controller="Account" class="no-underline">
                Dragonfly Project Management</a>
        </div>
    </header>

    <canvas id="canvas" class="fixed z-0 h-full w-full bg-black"></canvas>
    <main role="main"
        class="relative z-10 min-h-[calc(100vh-2.5rem)] w-full flex flex-col bg-transparent p-4 pt-14 text-white">
        @RenderBody()
    </main>

    <partial name="_footer" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>

</html>
