<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dragonfly Project Management</title>
    <link rel="stylesheet" href="~/css/post_tailwind.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-full w-full">
    <header class="fixed-wfull-flexbox top-0">
        <div class="text-w-3-4ths-grey">
            Dragonfly Project Management
        </div>
    </header>
    <div class="w-full h-full grid justify-center items-center bg-gradient-to-b from-lime-700 to-green-900">
        <main role="main" class="p-10 rounded-5xl bg-gradient-to-br from-lime-500 to-green-700">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-wfull-flexbox bottom-0">
        <div class="text-w-3-4ths-grey">
            &copy; 2021 Dragonfly by Andre Bacic
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
