<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dragonfly Project Management</title>
    <link rel="stylesheet" href="~/css/post_tailwind.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="h-full w-full">
    <header class="fixed top-0 z-20 min-h-[2.5rem] w-full bg-neutral-700 grid place-items-center">
        <div class="h-6 w-3/4 text-left text-lime-200">
            Dragonfly Project Management
        </div>
    </header>

    <canvas id="canvas" class="fixed z-0 h-full w-full bg-black"></canvas>
    <main role="main" class="relative z-10 min-h-full w-full bg-transparent py-6 text-white">
        @RenderBody()
    </main>

    <footer class="fixed bottom-0 z-20 min-h-[2.5rem] w-full grid place-items-center bg-neutral-700">
        <div id="footer-date" class="h-6 w-3/4 text-left text-lime-200">
            &copy; 2022 by Andre Bačić
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>

</html>
