<footer class="relative z-10 min-h-[2.5rem] w-full grid place-items-center border-t-2 border-lime-700 bg-neutral-700">
    <div class="h-6 w-full px-2 text-left text-lime-500 sm:px-4 sm:w-[32rem] md:w-[48rem]">
        &copy; <p id="footer-date" class="inline-block">2022</p> by Andre Bačić - <a asp-action="Privacy"
            asp-controller="Account" class="inline-block text-lime-500 underline hover:text-lime-300">Privacy</a>
    </div>
</footer>