<footer class="relative z-10 min-h-[2.5rem] w-full grid place-items-center bg-neutral-700">
    <div class="h-6 w-full px-1 text-left text-lime-400 sm:px-4 sm:w-[32rem] md:w-[48rem]">
        &copy; <p id="footer-date" class="inline-block">2022</p> by Andre Bačić - <a asp-action="Privacy"
            class="inline-block text-lime-400 hover:text-lime-300">Privacy</a>
    </div>
</footer>