<!DOCTYPE html>
<html lang="en">

<partial name="_head" />

<body class="h-full w-full">
    <partial name="_menu" />

    <canvas id="canvas" class="fixed z-0 h-full w-full bg-black"></canvas>

    <main role="main" class="relative z-10 min-h-[calc(100vh-2.5rem)] w-full bg-transparent px-4 pt-32 text-white">
        @RenderBody()
    </main>

    <partial name="_footer" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>

</html>
