<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dragonfly Project Management</title>
    <link rel="stylesheet" href="~/css/post_tailwind.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="h-full w-full">
    <header class="fixed top-0 left-0 z-40 h-32 w-full">
        <section
            class="relative top-0 left-0 z-40 h-full w-1/2 rounded-br-3xl bg-lime-800 p-2 text-center text-lime-200 text-xl shadow">
            <h1 class="mb-6">Dragonfly</h1>
            <h2 class="text-lg">Project Management</h2>
        </section>
        <div class="absolute top-0 right-0 z-30 min-h-[6rem] w-1/2" role="directory">
            <partial name="_usermenu" />
        </div>
    </header>
    <partial name="_translucentCover" />

    <canvas id="canvas" class="fixed z-0 h-full w-full bg-black"></canvas>
    <main role="main" class="relative z-10 min-h-full w-full bg-transparent text-white">
        @RenderBody()

        <footer class="h-8 w-full bg-neutral-700 grid place-items-center">
            <div id="footer-date" class="h-6 w-5/6 max-w-3xl text-left text-lime-200">
                &copy; 2022 by Andre Bačić
            </div>
        </footer>
    </main>

    <script>
        let userMenuIsOpen = false
        const userMenu = document.getElementById("userMenu")
        const userMenuArrow = document.getElementById("userMenuArrow")

        const translucentCover = document.getElementById("translucentCover")
        const menus = [userMenu]
        const arrows = [userMenuArrow]

        function userMenuButtonOnClick() {
            userMenuIsOpen = !userMenuIsOpen
            if (userMenuIsOpen) {
                userMenu.style.display = ""
                userMenuArrow.style.transform = "rotateZ(0deg)"
                translucentCover.style.display = ""
            } else {
                userMenu.style.display = "none"
                userMenuArrow.style.transform = "rotateZ(-90deg)"
                translucentCover.style.display = "none"
            }
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@RenderSection("Scripts", required: false)*@
</body>

</html>
