<button class="flex justify-center items-center min-h-[6rem] w-full 
        bg-neutral-700 px-4 py-2 text-base font-medium text-white shadow-sm 
        hover:bg-neutral-600 focus:outline-none" id="userMenuButton" onclick="userMenuButtonOnClick()">
    Welcome, @User.ClaimValue(UserClaimsIndex.Name)
    <svg id="userMenuArrow" class="-mr-1 ml-1 h-6 w-6 -rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
        fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd" />
    </svg>
</button>
<nav class="relative left-[-25%] z-30 w-[125%] rounded-bl-lg 
        bg-neutral-700 pt-16 pb-2 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
          transition-all duration-150 ease-linear origin-top" id="userMenu" style="display:none">
    <!--//TODO: Actually make the animation happen-->
    <a class="block px-4 py-2 text-sm text-white" asp-action="Home" asp-controller="Home">All Projects</a>
    <a class="block px-4 py-2 text-sm text-white" asp-action="Deadlines" asp-controller="Home">Pressing Deadlines</a>
    <a class="block px-4 py-2 text-sm text-white" asp-action="Analytics" asp-controller="Home">Cumulative Report</a>
    <a class="block px-4 py-2 text-sm text-white" asp-action="EditAccount" asp-controller="Home">Update Account</a>
    <a class="block px-4 py-2 text-sm text-white" asp-action="Logout" asp-controller="Account">Logout</a>
</nav>
