@model EditUserViewModel
@{
    if (User.Claims.Count() > (int)UserClaimsIndex.Role)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
    ViewData["Title"] = "Edit Account";
}

<h1>Edit Account</h1>

<h4>@User.Identity.Name</h4>
<hr />
<div>
    <form asp-action="EditAccount" asp-controller="Account" method="post">
        <div asp-validation-summary="ModelOnly" class=""></div>
        <div class="">
            <label asp-for="FirstName" class=""></label>
            <input asp-for="FirstName" class="" contenteditable="true" value="@Model.FirstName" />
            <p asp-validation-for="FirstName" class=" bg-red-400 text-red-700"></p>
        </div>
        <div class="">
            <label asp-for="LastName" class=""></label>
            <input asp-for="LastName" class="" contenteditable="true" value="@Model.LastName" />
            <p asp-validation-for="LastName" class=" bg-red-400 text-red-700"></p>
        </div>
        <div class="">
            <label asp-for="EmailAddress" class=""></label>
            <input asp-for="EmailAddress" type="email" class="" contenteditable="true" value="@Model.EmailAddress" />
            <p asp-validation-for="EmailAddress" class=" bg-red-400 text-red-700"></p>
        </div>
        <div class="">
            <p>(Only use the fields below if you want to change your password)</p>
            <label asp-for="OldPassword" class=""></label>
            <input asp-for="OldPassword" type="password" class="" contenteditable="true" />
            <p asp-validation-for="OldPassword" class=" bg-red-400 text-red-700"></p>
        </div>
        <div class="">
            <label asp-for="NewPassword" class=""></label>
            <input asp-for="NewPassword" type="password" class="" contenteditable="true" />
            <p asp-validation-for="NewPassword" class=" bg-red-400 text-red-700"></p>
        </div>
        <div class="">
            <input type="submit" value="Save" class="" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Organization" asp-action="OrganizationHome" class="">Back to Home</a>
</div>

