@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center font-sans font-bold text-xl text-coolGray-600 p-1">Login</h1>
<form asp-action="Login" asp-controller="Account" method="post" class="flex flex-col gap-1 items-center justify-evenly">
    <input type="email" asp-for="EmailAddress" placeholder="Email Address" class="input-text" contenteditable="true" />
    <input type="password" asp-for="Password" placeholder="Password" class="input-text" contenteditable="true" />
    <input type="submit" value="Log in" class="w-3/5 h-8 text-center cursor-pointer rounded-sm bg-lime-800 text-coolGray-200" />
</form>
<div class="text-coolGrey-600 text-left w-full mt-2">
    <p class="w-1/2 inline-block">No account?
    </p><a asp-area="" asp-controller="Account" asp-action="Register"
       class="w-1/2 inline-block h-8 text-center cursor-pointer rounded-sm bg-lime-800 text-coolGray-200">Sign Up</a>
</div>
