@{
    Layout = (User.Identity.IsAuthenticated) ? "~/Views/Shared/_HomeLayout.cshtml" : "~/Views/Shared/_AccountLayout.cshtml";

    ViewData["Title"] = "Privacy Policy";
}
@*
    TODO: Write a formal, professional privacy policy for this application.
*@
<div class="mx-auto mt-8 min-h-full w-full max-w-3xl flex flex-1 justify-center items-center">
    <div class="rounded-lg bg-neutral-700 p-2">
        <div class="border-b-2 border-lime-500 text-2xl">
            Privacy Policy
            <a asp-action="Index" asp-controller="Account"
                class="float-right pl-1 text-base text-lime-500 underline hover:text-lime-300">Back to Home</a>
        </div>
        <ul class="ml-4 list-disc list-outside divide-y">
            <li class="py-3">Since this app is under tentative development, all data saved to this app may be deleted at
                any time for any reason.</li>
            <li class="py-3">User data may be shown to hiring managers, recruiters, or my friends while I demo this
                project to them.</li>
            <li class="py-3">This site uses trackers, including cookies to allow certain services to be technically
                possible and to store data for analytics or demonstration purposes.</li>
        </ul>
    </div>
</div>
