@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<div class="min-h-[100vh] w-full grid place-items-center">
    <div class="rounded-lg bg-neutral-700 p-2">
        <h1 class="mb-0.5 p-1 text-center font-sans font-bold text-xl text-white">Register</h1>
        @{
            string message = ViewData["RegisterMessage"].ToString();
        }
        @if (String.IsNullOrWhiteSpace(message) == false)
        {
            <h3 class="validation-for p-1.5 text-center font-bold">@ViewData["RegisterMessage"]</h3>
        }
        <hr class="border-black border-2" />
        <form asp-action="Register" asp-controller="Account" method="post"
            class="flex flex-col gap-1 items-center justify-evenly">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="w-full">
                <label asp-for="FirstName" class="input-label"></label>
                <input asp-for="FirstName" class="input-text" contenteditable="true" />
                <span asp-validation-for="FirstName" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="LastName" class="input-label"></label>
                <input asp-for="LastName" class="input-text" contenteditable="true" />
                <span asp-validation-for="LastName" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="EmailAddress" class="input-label"></label>
                <input asp-for="EmailAddress" type="email" class="input-text" contenteditable="true" />
                <span asp-validation-for="EmailAddress" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="Password" class="input-label"></label>
                <input asp-for="Password" type="password" class="input-text" contenteditable="true" />
                <span asp-validation-for="Password" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="ConfirmPassword" class="input-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="input-text" contenteditable="true" />
                <span asp-validation-for="ConfirmPassword" class="validation-for"></span>
            </div>
            <input type="submit" value="Create"
                class="my-auto mt-1 min-w-[8rem] cursor-pointer rounded-lg bg-lime-500 p-1 text-center text-black text-lg font-semibold" />
        </form>
        <div class="mt-2 w-full grid grid-cols-2">
            <p class="block my-auto w-full">Already registered?</p>
            <a asp-controller="Account" asp-action="Login" class="w-full grid place-items-center
                    cursor-pointer rounded-lg bg-lime-500 p-1 text-center text-black">Log in</a>
        </div>
    </div>
</div>
