@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="min-h-full w-full flex flex-1 items-center justify-center">
    <div class="bg-neutral-700 p-4">
        <h2 class="mb-1 border-b-2 border-lime-500 p-1 text-center text-xl">Register</h2>
        @{
            string message = ViewData["RegisterMessage"].ToString();
        }
        @if (String.IsNullOrWhiteSpace(message) == false)
        {
            <h3 class="validation-for p-1.5 text-center font-bold">@message</h3>
        }
        <form asp-action="Register" asp-controller="Account" method="post"
            class="max-w-3xl flex flex-col gap-1 items-center justify-evenly">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="w-full">
                <label asp-for="FirstName" class="input-label"></label>
                <input asp-for="FirstName" class="input-text" contenteditable="true" />
                <span asp-validation-for="FirstName" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="LastName" class="input-label"></label>
                <input asp-for="LastName" class="input-text" contenteditable="true" />
                <span asp-validation-for="LastName" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="EmailAddress" class="input-label"></label>
                <input asp-for="EmailAddress" type="email" class="input-text" contenteditable="true" />
                <span asp-validation-for="EmailAddress" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="Password" class="input-label"></label>
                <input asp-for="Password" type="password" class="input-text" contenteditable="true" />
                <span asp-validation-for="Password" class="validation-for"></span>
            </div>
            <div class="w-full">
                <label asp-for="ConfirmPassword" class="input-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="input-text" contenteditable="true" />
                <span asp-validation-for="ConfirmPassword" class="validation-for"></span>
            </div>
            <input type="submit" value="Create"
                class="my-auto mt-1 min-w-[8rem] cursor-pointer bg-lime-500 p-1 text-center text-black text-lg hover:bg-lime-300" />
        </form>
        <div class="mt-4 w-full grid grid-cols-2">
            <p class="block my-auto w-full">Already registered?</p>
            <a asp-controller="Account" asp-action="Login" class="w-full grid place-items-center
                    cursor-pointer bg-lime-500 p-1 text-center text-black text-lg hover:bg-lime-300">
                Log in</a>
        </div>
    </div>
</div>
