@*
    // TODO: Write a privacy policy for this application.
*@
<h1>Privacy Policy</h1>
<p>Since this app is under tentative development, all data saved to this app may be deleted at any time for any reason.</p>
<p>User data may be shown to hiring managers, recruiters, or my friends while I demo this project to them.</p>
