
@{
    ViewData["Title"] = "User Home";
}

<h1>Log in to an existing Organization</h1>
<!-- TODO: Add a search or something and a login box and submit button-->

<h1><a asp-controller="Organization" asp-action="CreateOrganization">or create a new one</a></h1>

