[contenteditable] {
    outline: 0px solid transparent;
}

.DPM-index-cols {
    grid-template-columns: auto 1fr;
}

.DPM-index-rows {
    grid-template-rows: auto auto auto;
}

@media (min-width: 768px) {
    .md\:DPM-nav-cols {
        grid-template-columns: 6fr repeat(4, 4fr) 3fr;
    }
}