@model ChangePasswordViewModel
<form asp-action="ChangePassword" asp-controller="Home" method="post">
    <div asp-validation-summary="ModelOnly" class=""></div>
    <div class="w-full">
        <label asp-for="OldPassword" class="input-label"></label>
        <input asp-for="OldPassword" type="password" class="input-text" contenteditable="true" />
        <span asp-validation-for="OldPassword" class="validation-for"></span>
    </div>
    <div class="w-full">
        <label asp-for="NewPassword" class="input-label"></label>
        <input asp-for="NewPassword" type="password" class="input-text" contenteditable="true" />
        <span asp-validation-for="NewPassword" class="validation-for"></span>
    </div>
    <div class="w-full">
        <label asp-for="ConfirmPassword" class="input-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="input-text" contenteditable="true" />
        <span asp-validation-for="ConfirmPassword" class="validation-for"></span>
    </div>
    <input type="submit" value="Change Password"
        class="my-auto mt-2 min-w-[8rem] cursor-pointer rounded-lg bg-lime-500 px-2 py-1 text-center text-black text-lg hover:bg-lime-300" />
</form>