@using DragonflyDataLibrary
@using DragonflyMVCApp.Controllers
@{
    ViewData["Title"] = $"Welcome, {User.ClaimValue(UserClaimsIndex.Name)}";
}
<div class="min-h-full w-full flex flex-col justify-center items-center bg-transparent">
    <div class="w-5/6 rounded-3xl bg-neutral-700 p-2"></div>
</div>
