@using DragonflyDataLibrary
@using DragonflyMVCApp.Controllers
@{
    ViewData["Title"] = $"Welcome, {User.ClaimValue(UserClaimsIndex.Name)}";
}
<div class="w-full min-h-full bg-transparent flex flex-col justify-center items-center">
    <div class="w-5/6"></div>
</div>
