@{// TODO: implement select organization home page
}
@using Bug_Tracker_Library
<h1>User Profile Home</h1>
<ul>
    <li>Name: @User.Claims.ToList()[(int)UserClaimsIndex.Name]</li>
    <li>Email: @User.Claims.ToList()[(int)UserClaimsIndex.Email]</li>
    @if (User.Claims.Count() > 2)
            {
                <li>Role: @User.Claims.ToList()[(int)UserClaimsIndex.Role]</li>
            }
</ul>
