@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
@{string message = ViewData["RegisterMessage"].ToString();}
@if (String.IsNullOrWhiteSpace(message) == false)
{
    <h3 class="text-center">@ViewData["RegisterMessage"]</h3>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @await Html.PartialAsync("~/Views/Shared/_TextInput.cshtml", new string[] { nameof(Model.FirstName), Model.FirstName })
            @await Html.PartialAsync("~/Views/Shared/_TextInput.cshtml", new string[] { nameof(Model.LastName), Model.LastName })
            @await Html.PartialAsync("~/Views/Shared/_TextInput.cshtml", new string[] { nameof(Model.EmailAddress), Model.EmailAddress })
            @await Html.PartialAsync("~/Views/Shared/_TextInput.cshtml", new string[] { nameof(Model.Password), Model.Password })
            <div class="">
                <input type="submit" value="Create" class="" />
            </div>
        </form>
    </div>
</div>
<div>Already registered? <a asp-area="" asp-controller="Account" asp-action="Login" class="">Log in</a></div>

